body, .container * {
    font-family: Arial, sans-serif;
}


.container {
    margin-left: 260px; 
    padding: 20px;
    max-width: 800px; 
}

app-sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    left: 0;
    top: 0;
}

.profile-form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px; 
    align-items: center; 
}

.profile-form label {
    text-align: right;
    padding-right: 8px;
    color: #555;
}

.profile-form input {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.profile-picture-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.change-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.change-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.change-button:hover {
    background-color: #45a049;
}


.submit-row {
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    display: flex;
    justify-content: center;
}


.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    
}

.submit-button:hover {
    background-color: #45a049;
}


@media (max-width: 768px) { /* this code here allows for the screensize to be adaptive*/
    .profile-form {
        grid-template-columns: 1fr; 
    }

    .submit-row {
        grid-column: span 1; 
    }

    .profile-picture-section {
        flex-direction: column; 
    }

    .profile-picture {
        margin-bottom: 10px;
    }
}

  
