<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySwingBuddy</title>
    <link rel="stylesheet" href="./home.component.css">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1>MySwingBuddy</h1>
    </header>
    <img src="assets/homeBackGround.jpeg" alt="Hero Background" class="hero-img">
    <!-- Hero Section -->
    <section id="home" class="hero">
        <div class="hero-content">
            <h2>Unlock Your Potential</h2>
            <p>Machine Learning powered insights to elevate your game and improve every swing.</p>
            <a [routerLink]="'/login'" class="btn">Launch App</a>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="features">
        <h3>App Features</h3>
        <div class="features-grid">
            <div class="feature-card">
                <h4>Swing Analysis</h4>
                <p>Each swing is analyzed frame-by-frame using out YOLO model to identify the type of club, and map the users trajectory in their backswing.</p>
            </div>
            <div class="feature-card">
                <h4>Coaching</h4>
                <p>Our swing analysis tool is perfect for golf coaches to show their clients their swing path.</p>
            </div>
            <div class="feature-card">
                <h4>Swing Improvement</h4>
                <p>Our "What the Pros Say" tool will help you identify how you can improve your swing for different club types.</p>
            </div>
        </div>
    </section>

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials">
        <h3>What Our Users Say</h3>
        <div class="testimonial-card">
            <p>"MySwingBuddy nice things to say..."</p>
            <h4>– John Michael</h4>
        </div>
        <div class="testimonial-card">
            <p>"MySwingBuddy nice things to say..."</p>
            <h4>– Christopher Jacob</h4>
        </div>
    </section>

    

    <footer>
        <p> MySwingBuddy CNU Capstone Project Fall 2024.</p>
    </footer>

</body>
</html>
