<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sidebar Layout</title>
    <link rel="stylesheet" href="./sidebar.component.css">
</head>
<body>
    <div class="sidebar">
        <div class="menu-header">
            <h2>Menu</h2>
            <img 
                *ngIf="profilePicUrl" 
                [src]="profilePicUrl" 
                alt="Profile Picture" 
                class="profile-pic">
            <div *ngIf="!profilePicUrl" class="placeholder-text">No Picture</div>
        </div>
        <ul>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/msb">Upload</a></li>
            <li><a routerLink="/profile">Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
    
